
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDocumentoLabel">Create or edit a Documento</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.documento.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.documento.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_descricao">Descricao</label>
            <input type="text" class="form-control" name="descricao" id="field_descricao"
                    ng-model="vm.documento.descricao"
                     />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setAnexo($file, vm.documento)">
            <label class="control-label" for="field_anexo">Anexo</label>
            <div>
                <div class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.documento.anexoContentType, vm.documento.anexo)" ng-if="vm.documento.anexo" target="_blank">open</a><br>
                    <span class="pull-left">{{vm.documento.anexoContentType}}, {{byteSize(vm.documento.anexo)}}</span>
                    <button ng-click="vm.documento.anexo=null;vm.documento.anexoContentType=null;"
                            ng-if="vm.documento.anexo"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setAnexo($file, vm.documento)">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="anexo" id="field_anexo"
                    ng-model="vm.documento.anexo"
                    required />
            <input type="hidden" class="form-control" name="anexoContentType" id="field_anexoContentType"
                    ng-model="vm.documento.anexoContentType" />
            <div ng-show="editForm.anexo.$invalid">
                <p class="help-block"
                    ng-show="editForm.anexo.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_tipoDocumento">Tipo Documento</label>
            <select class="form-control" id="field_tipoDocumento" name="tipoDocumento" required ng-model="vm.documento.tipoDocumento" ng-options="tipoDocumento as tipoDocumento.nome for tipoDocumento in vm.tipodocumentos track by tipoDocumento.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group" ng-show="!vm.documento.movimentacao.id">
            <label for="field_movimentacao">Movimentacao</label>
            <select class="form-control" id="field_movimentacao" name="movimentacao" ng-model="vm.documento.movimentacao" ng-options="movimentacao as movimentacao.id for movimentacao in vm.movimentacaos track by movimentacao.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
