
<div>
    <h2><span>Pessoa</span> {{vm.pessoa.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        
        <dt><span>Categoria Funcional</span></dt>
        <dd>
            <span>{{vm.pessoa.categoriaFuncional}}</span>
        </dd>
        <hr>
        
        <dt><span>Nome</span></dt>
        <dd>
            <span>{{vm.pessoa.nome}}</span>
        </dd>
        <hr>
        <dt><span>Cadastro</span></dt>
        <dd>
            <span>{{vm.pessoa.cadastro | cadastro}}</span>
        </dd>
        
        <hr>
        <dt><span>Itens Entregues:</span></dt>
        <dd>
        	<div class="table-responsive">
		        <table class="jh-table table table-striped">
		            <thead>
		                <tr>
		                	<th><span>Movimentação</span></th>
		                    <th><span>Serial</span></th>
		                    <th><span>Tombo</span></th>
		                    <th><span>Modelo</span></th>
		                    <th>Número</th>
		                </tr>
		            </thead>
		            <tbody>
		            	<tr ng-repeat="itemEntr in vm.itensEntregues | orderBy:'-item.modelo'">
		            		<td><a ui-sref="movimentacao-detail({id:itemEntr.movimentacao.id})">{{itemEntr.movimentacao.data | date:'dd/MM/y'}}</a></td>
                    		<td><a ui-sref="item-detail({id: {{itemEntr.item.id}}})">{{itemEntr.item.serial}}</a></td>
                    		<td>{{itemEntr.item.tombo}}</td>
                        	<td>{{itemEntr.item.modelo}}</td>
                        	<td>{{itemEntr.item.numero | tel}}</td>
		                </tr>
		           </tbody>
		    	</table>
            </div>
        </dd>
        
        <hr>
        
        <dt><span>Histórico:</span></dt>
        <dd>
        	<div class="table-responsive">
		        <table class="jh-table table table-striped">
		            <thead>
		                <tr>
		                	<th><span>Movimentação</span></th>
		                	<th class="text-center" ><span>Tipo</span></th>
		                    <th><span>Serial</span></th>
		                    <th><span>Modelo</span></th>
		                    <th>Número</th>
		                </tr>
		            </thead>
		            <tbody>
		            	<tr ng-repeat="itemEntr in vm.itensDevolvidos">
		            		<td><a ui-sref="movimentacao-detail({id:itemEntr.movimentacao.id})">{{itemEntr.movimentacao.data | date:'dd/MM/y'}}</a></td>
		            		<td class="text-center">
		            			<div ng-switch="itemEntr.movimentacao.tipoMovimentacao.id">
					                <div ng-switch-when="1">
					                	<span class="glyphicon glyphicon-circle-arrow-right text-info" title="{{itemEntr.movimentacao.tipoMovimentacao.nome}}"></span>
					                </div>
					
					                <div  ng-switch-when="2">
					                	<span class="glyphicon glyphicon-circle-arrow-left text-success" title="{{itemEntr.movimentacao.tipoMovimentacao.nome}}"></span>
					                </div>
					            </div>
		            		</td> 
                    		<td><a ui-sref="item-detail({id: {{itemEntr.item.id}}})">{{itemEntr.item.serial}}</a></td>
                        	<td>{{itemEntr.item.modelo}}</td>
                        	<td>{{itemEntr.item.numero | tel}}</td>
		                </tr>
		           </tbody>
		    	</table>
            </div>
        </dd>
        
        <hr>
        
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
