<form name="reinaBuscaItemForm" role="form" novalidate ng-submit="vm.ok(vm.item)" show-validation>

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.cancel()">&times;</button>
		<h4 class="modal-title" id="myItemLabel">Refinar Busca Item</h4>
	</div>
	<div class="modal-body">
		<jhi-alert-error></jhi-alert-error>
		
		<div class="form-group">
			<label class="control-label" for="field_serial">Serial: </label> 
			<input type="text" class="form-control" name="serial" id="field_serial" ng-model="vm.item.item.serial" />
		</div>
		<div class="form-group">
			<label class="control-label" for="field_tombo">Tombo: </label> 
			<input type="text" class="form-control" name="tombo" id="field_tombo" ng-model="vm.item.item.tombo" />
		</div>
		<div class="form-group">
			<label class="control-label" for="field_responsavel">Responsável: </label> 
			<input type="text" class="form-control" name="pessoa" id="field_responsavel" ng-model="vm.item.pessoa.nome" />
		</div>
		
		<div class="form-group">
            <label for="field_unidade">Unidade Judiciaria:</label>
            <div class="btn-toolbar" role="toolbar">
	            <button role="group" class="btn btn-primary btn-group" ng-click="vm.dialogBuscarUnidadeJudiciaria()" type="button">
	                <span class="glyphicon glyphicon-plus"></span>
	            </button>
	            <input role="group" type="text" class="btn-group form-control" id="field_unidade" name="field_unidade"
	                    ng-model="vm.item.unidadeJudiciaria.unidade" />
	        </div>
        </div>
		
		<div class="form-group">            
            <label>Categoria funcional</label>
            <select class="form-control" multiple name="categoria_funcional" ng-model="vm.item.pessoa.categoriaFuncional">
            	<option></option>
                <option value="DESEMBARGADOR">Des(a)</option>
                <option value="JUIZ">Juiz(a)</option>
                <option value="SERVIDOR">Serv(a)</option>
                <option value="ASSISTENTE_MILITAR">Assi. Militar</option>
                <option value="TERCEIRIZADO">Terc(a).</option>
            </select>
        </div>
		<div class="form-group">
			<label class="control-label" for="field_isPagination">Paginação: </label> 
			<select class="form-control" name="isPagination" ng-model="vm.item.isPagination" id="field_isPagination">
                <option value="true">Sim</option>
                <option value="false">Não</option>
            </select>
		</div>
		<div class="form-group">
			<label class="control-label" for="field_id">ID: </label> 
			<input type="text" class="form-control" name="id" id="field_id" ng-model="vm.item.item.id" />
		</div>
		<div class="form-group">
			<label class="control-label" for="field_modelo">Modelo</label> 
			<input type="text" class="form-control" name="modelo" id="field_modelo" ng-model="vm.item.item.modelo" />
		</div>
        <div class="form-group">
            <!-- <label class="control-label" for="field_estado">Estado</label>
            <select class="form-control" name="estado" ng-model="vm.item.item.estado" id="field_estado">
            	<option></option>
                <option value="NOVO">Novo</option>
                <option value="USADO">Usado</option>
                <option value="DANIFICADO">Danificado</option>
                <option value="EXTRAVIADO">Extraviado</option>
            </select> -->
            
            <label>Estado</label>
            <select class="form-control" multiple name="estado" ng-model="vm.item.item.estado">
            	<option></option>
                <option value="NOVO">Novo</option>
                <option value="USADO">Usado</option>
                <option value="DANIFICADO">Danificado</option>
                <option value="EXTRAVIADO">Extraviado</option>
                <option value="INSERVIVEL">Inservível</option>
            </select>
        </div>
		<div class="form-group">
			<label class="control-label" for="field_numero">Numero: </label> 
			<input type="text" class="form-control" name="numero" id="field_numero" ng-model="vm.item.item.numero" />
		</div>
        <div class="form-group">
            <label for="field_tipoItem">Tipo Item</label>
            <select class="form-control" id="field_tipoItem" name="tipoItem" ng-model="vm.item.item.tipoItem" ng-options="tipoItem.id as tipoItem.nome for tipoItem in vm.tipoitems track by tipoItem.id">
                <option value=""></option>
            </select>
        </div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.cancel()">
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancelar</span>
		</button>
		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
			<span class="glyphicon glyphicon-remove"></span>&nbsp;<span>Limpar</span>
		</button>
		<button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-ok"></span>&nbsp;<span>Ok</span>
        </button>
	</div>
</form>
