
<div>

	<div class="btn btn-info hidden-print">
		
		<button type="submit"
	            ui-sref="movimentacao.edit({id:vm.movimentacao.id})"
	            title="Editar"
	            class="btn btn-primary btn-sm">
	        <span class="glyphicon glyphicon-pencil"></span>
	        <span class="hidden-xs hidden-sm"></span>
	    </button>
	    <button onclick="window.print();"
	            title="Editar"
	            class="btn btn-primary btn-sm">
	        <span class="glyphicon glyphicon-print"></span>
	        <span class="hidden-xs hidden-sm"></span>
	    </button>
	    
	    <!-- <button type="submit"
	    		title="Remover"
                ui-sref="movimentacao.delete({id:vm.movimentacao.id})"
                class="btn btn-danger btn-sm">
            <span class="glyphicon glyphicon-remove-circle"></span>
            <span class="hidden-xs hidden-sm"></span>
        </button>	     
        -->
	</div>
	
	
	<div class="text-center visible-print-block" >
		<img src="content/images/tjbaCoate2.png" >
		<hr>
	</div>
	
	<div class="text-right">
    	<h2 ><span>
	    	{{vm.movimentacao.tipoMovimentacao.nome}}
	    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    	Nº {{vm.movimentacao.id}} 
	    </span></h2>
    </div>  
<!--     <div class="bloco grafico">
        <canvas 
            class="chart chart-line" 
            chart-data="vm.grafico.data" 
            chart-labels="vm.grafico.labels" 
            chart-series="vm.grafico.series"
            chart-legend="true">
        </canvas>
    </div> -->
    <hr>
    <dl class="dl-horizontal">
    	<div class="hidden-print">
	        <dt><span>Data</span></dt>
	        <dd>
	            <span>{{vm.movimentacao.data | date:'dd/MM/y'}}</span>
	        </dd>
	<!--         <hr>
	        <dt><span>Tipo Movimentacao</span></dt>
	        <dd>
	            <a ui-sref="tipo-movimentacao-detail({id:vm.movimentacao.tipoMovimentacao.id})"><kbd>{{vm.movimentacao.tipoMovimentacao.nome}}</kbd></a>
	        </dd> -->
	        <hr>
	    </div>
        <dt><span>Descrição</span></dt>
        <dd>
            <span>{{vm.movimentacao.descricao}}</span>
        </dd>
        <hr>
        <dt><span>Responsável</span></dt>
        <dd>
            <a ui-sref="pessoa-detail({id:vm.movimentacao.pessoa.id})">{{vm.movimentacao.pessoa.nome}}<span ng-show="vm.movimentacao.pessoa.cadastro != null"> - {{vm.movimentacao.pessoa.cadastro | cadastro}}</span></a>
        </dd>
        <hr>
        <dt><span>Itens:</span></dt>
        <dd>
        	<div class="table-responsive">
		        <table class="jh-table table table-striped">
		            <thead>
		                <tr>
		                    <th><span>ID</span></th>
		                    <th><span>Serial</span></th>
		                    <th><span>Tombo</span></th>
		                    <th><span>Modelo</span></th>
		                    <th>Número</th>
		                </tr>
		            </thead>
		            <tbody>
		            	<tr ng-repeat="item in vm.movimentacao.items">
                    		<td><a ui-sref="item-detail({id: {{item.id}}})">{{item.id}}</a></td>
                    		<td>{{item.serial}}</td>
                    		<td>{{item.tombo}}</td>
                        	<td>{{item.modelo}}</td>
                        	<td>{{item.numero | tel}}</td>
		                </tr>
		           </tbody>
		    	</table>
            </div>
        </dd>
        <hr>
        <div class="hidden-print">
        	<dt><span>Documentos:</span></dt>
	        <dd>
	        	<div class="table-responsive">
	        		<button role="group" class="btn btn-primary btn-group" ng-click="vm.addDocumento(vm.movimentacao)" type="button">
		                <span class="glyphicon glyphicon-plus"></span>
		            </button>
			        <table class="jh-table table table-striped">
			            <thead>
			                <tr>
			                    <th><span>ID</span></th>
			                    <th><span>Tipo de Documento</span></th>
			                    <th><span>Descrição</span></th>
			                    <th>Download</th>
			                    
			                </tr>
			            </thead>
			            <tbody>
			            	<tr ng-repeat="doc in vm.movimentacao.documentos">
	                    		<td><a ui-sref="documento-detail({id:doc.id})">{{doc.id}}</a></td>
	                    		<td>{{doc.tipoDocumento.nome}}</td>
	                        	<td>{{doc.descricao}}</td>
	                        	<td class="text-center">
	                        		<!-- <a ng-click="vm.openFile(doc.anexoContentType, doc.anexo)" ng-if="doc.anexo" target="_blank"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a> -->
	                        		<button type="submit"
			                                    ng-click="vm.openFile(doc.anexoContentType, doc.anexo)" 
			                                    ng-if="doc.anexo" 
			                                    target="_blank"
			                                    class="btn btn-info btn-sm">
			                                <span class="glyphicon glyphicon-eye-open"></span>
			                                <span class="hidden-xs hidden-sm"></span>
			                            </button>
	                        	</td>
	                        	
			                </tr>
			           </tbody>
			    	</table>
	            </div>
	        </dd>
	        <hr>
        </div>
        <div class="text-left visible-print-block">
	        <dd><span>Em, {{vm.movimentacao.data | date:'dd/MM/y'}}</span></dd>
	        <dd><br></dd>
	        <dd><span>{{vm.account.firstName+" "+vm.account.lastName}}</span></dd>
	        <dd><span>{{vm.account.carreira +"-"+vm.account.lotacao}}</span></dd>
	        <dd><span>Cad. {{vm.account.cadastro | cadastro}}</span></dd>
	        
	        
	        
        </div>
        <div class="text-center visible-print-block">
        	<br>
	        <dd><span>Nesta data _____/_____/_______</span></dd>
	        <dd><br><br></dd>
	        <dd><span>__________________________________________________________________________</span></dd>
	        <dd><span>(Nome e Cadastro)</span></dd>
	    </div>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info hidden-print">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
