<style>
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
</style>
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMovimentacaoLabel">Criar ou Alterar Movimentação</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.movimentacao.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.movimentacao.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_descricao">Sugestão de Preenchimento</label>
       		<select class="form-control" id="field_preenchimento" name="preenchimento" ng-model="vm.movimentacao.descricao" >
                <option ng-selected="selected" value="Seguem os itens listados abaixo, juntamente com fonte de alimentação e pasta de transporte em conformidade com DECRETO JUDICIÁRIO Nº 922, DE 6 DE OUTUBRO DE 2016 que disciplina a movimentação de equipamentos de informática e a utilização de software e hardware no âmbito do Poder Judiciário do Estado da Bahia.">Notebook</option>
                <option value="Seguem os itens listados abaixo em comodato com a empresa Telefônica S/A Vivo, juntamente com manual de instalação e carregador de parede em conformidade com DECRETO JUDICIÁRIO Nº 922, DE 6 DE OUTUBRO DE 2016 que disciplina a movimentação de equipamentos de informática e a utilização de software e hardware no âmbito do Poder Judiciário do Estado da Bahia.">Celular</option>
                <option value="Seguem os itens listados abaixo em comodato com a empresa Telefônica S/A Vivo, juntamente com manual de instalação em conformidade com DECRETO JUDICIÁRIO Nº 922, DE 6 DE OUTUBRO DE 2016 que disciplina a movimentação de equipamentos de informática e a utilização de software e hardware no âmbito do Poder Judiciário do Estado da Bahia.">Modem</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_descricao">Descrição</label>
            <textarea 
            	id="field_descricao"
            	class="form-control" 
            	name="descricao" 
            	style="height: 80px;" 
            	ng-model="vm.movimentacao.descricao">
            </textarea>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_data">Data</label>
                <div class="input-group">
                    <input id="field_data" type="text" class="form-control" name="data" datetime-picker="dd/MM/yyyy - HH:mm" ng-model="vm.movimentacao.data" is-open="vm.datePickerOpenStatus.data"
                    	datepicker-options="vm.datePickerOpenStatus.dateOptions.datepickerOptions"
                    	button-bar="vm.datePickerOpenStatus.dateOptions.buttonBar"
                    	close-text="CloseAAAAAAAAAAAA" 
                    	required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('data')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.data.$invalid">
                <p class="help-block"
                    ng-show="editForm.data.$error.required">
                    Campo Obrigatório.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_tipoMovimentacao">Tipo Movimentação</label>
            <select class="form-control" id="field_tipoMovimentacao" ng-change="vm.movimentacao.items = []" ng-disabled="vm.movimentacao.id != undefined || vm.movimentacao.gerarDevolucao == true" name="tipoMovimentacao" ng-model="vm.movimentacao.tipoMovimentacao" ng-options="tipoMovimentacao as tipoMovimentacao.nome for tipoMovimentacao in vm.tipomovimentacaos track by tipoMovimentacao.id">
                <option value=""></option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="field_unidade">Unidade Judiciaria:</label>
            <div class="btn-toolbar" role="toolbar">
	            <button role="group" class="btn btn-primary btn-group" ng-click="vm.dialogBuscarUnidadeJudiciaria()" type="button">
	                <span class="glyphicon glyphicon-plus"></span>
	            </button>
	            <input role="group" type="text" class="btn-group form-control" id="field_unidade" name="field_unidade"
	                    ng-model="vm.movimentacao.unidadeJudiciaria.unidade" required readonly />
	        </div>
        </div>
        
        <div class="form-group">
            <label for="field_pessoa">Responsável:</label>
            <div class="btn-toolbar" role="toolbar">
	            <button role="group" class="btn btn-primary btn-group" ng-click="vm.dialogBuscarPessoa()" type="button">
	                <span class="glyphicon glyphicon-plus"></span>
	            </button>
	            <input role="group" type="text" class="btn-group form-control" id="field_pessoa" name="field_pessoa"
	                    ng-model="vm.movimentacao.pessoa.nome" required readonly />
	        </div>
        </div>
        <div  class="form-group">
	         <label>Itens:</label>
        	<div class="table-responsive">
        		<button role="group" class="btn btn-primary btn-group" ng-click="vm.dialogBuscarItens(vm.movimentacao.tipoMovimentacao.id,vm.movimentacao.pessoa.id)" type="button" ng-disabled="vm.movimentacao.tipoMovimentacao == undefined || vm.movimentacao.pessoa == undefined">
	                <span class="glyphicon glyphicon-plus"></span>
	            </button>
		        <table class="jh-table table table-striped">
		            <thead>
		                <tr>
		                    <th><span>ID</span></th>
		                    <th><span>Serial</span></th>
		                    <th><span>Modelo</span></th>
		                    <th>Número</th>
		                    <th ng-show="vm.movimentacao.id == undefined">Excluir</th>
		                </tr>
		            </thead>
		            <tbody>
		            	<tr ng-repeat="item in vm.movimentacao.items">
                    		<td><a ui-sref="item-detail({id: {{item.id}}})">{{item.id}}</a></td>
                    		<td>{{item.serial}}</td>
                        	<td>{{item.modelo}}</td>
                        	<td>{{item.numero | tel }}</td>
                        	<td>
                        		<button role="group" class="btn btn-danger btn-sm" ng-click="vm.removerItem(item)" type="button" ng-show="vm.movimentacao.id == undefined">
					                <span class="glyphicon glyphicon-remove-circle"></span>
					            </button>
                        	</td>
		                </tr>
		           </tbody>
		    	</table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled=" editForm.$invalid || isSaving || vm.movimentacao.items == undefined || vm.movimentacao.items == 0" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
