<form name="editForm" role="form" novalidate ng-submit="vm.ok(vm.item)" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myItemLabel">Buscar Movimentação</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="control-label" for="field_cadastro">Serial: </label>
            <input type="text" class="form-control" name="serial" id="field_serial"
                    ng-model="vm.item.serial"
                     />
        </div>
        <hr>
        <div  class="form-group">
	         <label>Itens:</label>
        	<div class="table-responsive">
		        <table class="jh-table table table-striped">
		            <thead>
		                <tr>
		                    <th><span>ID</span></th>
		                    <th><span>Serial</span></th>
		                    <th><span>Modelo</span></th>
		                    <th>Número</th>
		                </tr>
		            </thead>
		            <tbody>
		            	<tr ng-repeat="item in vm.items" ng-click="vm.selecionar(item)">
                    		<td><a ui-sref="item-detail({id: {{item.id}}})">{{item.id}}</a></td>
                    		<td>{{item.serial}}</td>
                        	<td>{{item.modelo}}</td>
                        	<td>{{item.numero}}</td>
		                </tr>
		           </tbody>
		    	</table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
    </div>
</form>
