<form name="editForm" role="form" novalidate ng-submit="vm.ok(vm.unidadeJudiciaria)" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPessoaLabel">Buscar Unidade Judiciaria</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        
        <div class="form-group">
            <label class="control-label" for="field_comarca">Comarca: </label>
            <select class="form-control" name="field_comarca" ng-model="vm.unidadeJudiciaria.comarca" id="field_comarca" required>
				<option value="ABARÉ">ABARÉ</option>
				<option value="ACAJUTIBA">ACAJUTIBA</option>
				<option value="ALAGOINHAS">ALAGOINHAS</option>
				<option value="ALCOBAÇA">ALCOBAÇA</option>
				<option value="AMARGOSA">AMARGOSA</option>
				<option value="AMÉLIA RODRIGUES">AMÉLIA RODRIGUES</option>
				<option value="AMÉRICA DOURADA">AMÉRICA DOURADA</option>
				<option value="ANAGÉ">ANAGÉ</option>
				<option value="ANDARAÍ">ANDARAÍ</option>
				<option value="ANGICAL">ANGICAL</option>
				<option value="ANTAS">ANTAS</option>
				<option value="APORÁ">APORÁ</option>
				<option value="ARACI">ARACI</option>
				<option value="AURELINO LEAL">AURELINO LEAL</option>
				<option value="BAIANÓPOLIS">BAIANÓPOLIS</option>
				<option value="BAIXA GRANDE">BAIXA GRANDE</option>
				<option value="BARRA">BARRA</option>
				<option value="BARRA DA ESTIVA">BARRA DA ESTIVA</option>
				<option value="BARRA DO CHOÇA">BARRA DO CHOÇA</option>
				<option value="BARRA DO MENDES">BARRA DO MENDES</option>
				<option value="BARREIRAS">BARREIRAS</option>
				<option value="BARRO PRETO">BARRO PRETO</option>
				<option value="BELMONTE">BELMONTE</option>
				<option value="BELO CAMPO">BELO CAMPO</option>
				<option value="BOA NOVA">BOA NOVA</option>
				<option value="BOA VISTA DO TUPIM">BOA VISTA DO TUPIM</option>
				<option value="BOM JESUS DA LAPA">BOM JESUS DA LAPA</option>
				<option value="BOQUIRA">BOQUIRA</option>
				<option value="BOTUPORÃ">BOTUPORÃ</option>
				<option value="BREJÕES">BREJÕES</option>
				<option value="BROTAS DE MACAÚBAS">BROTAS DE MACAÚBAS</option>
				<option value="BRUMADO">BRUMADO</option>
				<option value="BUERAREMA">BUERAREMA</option>
				<option value="CACHOEIRA">CACHOEIRA</option>
				<option value="CACULÉ">CACULÉ</option>
				<option value="CAETITÉ">CAETITÉ</option>
				<option value="CALDEIRÃO GRANDE">CALDEIRÃO GRANDE</option>
				<option value="CAMACÃ">CAMACÃ</option>
				<option value="CAMAÇARI">CAMAÇARI</option>
				<option value="CAMAÇARÍ">CAMAÇARÍ</option>
				<option value="CAMAMÚ">CAMAMÚ</option>
				<option value="CAMPO FORMOSO">CAMPO FORMOSO</option>
				<option value="CANARANA">CANARANA</option>
				<option value="CANAVIEIRAS">CANAVIEIRAS</option>
				<option value="CANDEIAS">CANDEIAS</option>
				<option value="CÂNDIDO SALES">CÂNDIDO SALES</option>
				<option value="CANSANÇÃO">CANSANÇÃO</option>
				<option value="CANUDOS">CANUDOS</option>
				<option value="CAPELA DO ALTO ALEGRE">CAPELA DO ALTO ALEGRE</option>
				<option value="CAPIM GROSSO">CAPIM GROSSO</option>
				<option value="CARAVELAS">CARAVELAS</option>
				<option value="CARINHANHA">CARINHANHA</option>
				<option value="CASA NOVA">CASA NOVA</option>
				<option value="CASTRO ALVES">CASTRO ALVES</option>
				<option value="CATÚ">CATÚ</option>
				<option value="CENTRAL">CENTRAL</option>
				<option value="CHORROCHÓ">CHORROCHÓ</option>
				<option value="CÍCERO DANTAS">CÍCERO DANTAS</option>
				<option value="CIPÓ">CIPÓ</option>
				<option value="COARACI">COARACI</option>
				<option value="CÔCOS">CÔCOS</option>
				<option value="CONCEIÇÃO DA FEIRA">CONCEIÇÃO DA FEIRA</option>
				<option value="CONCEIÇÃO DO ALMEIDA">CONCEIÇÃO DO ALMEIDA</option>
				<option value="CONCEIÇÃO DO COITÉ">CONCEIÇÃO DO COITÉ</option>
				<option value="CONCEIÇÃO DO JACUÍPE">CONCEIÇÃO DO JACUÍPE</option>
				<option value="CONDE">CONDE</option>
				<option value="CONDEÚBA">CONDEÚBA</option>
				<option value="CORAÇÃO DE MARIA">CORAÇÃO DE MARIA</option>
				<option value="CORIBE">CORIBE</option>
				<option value="CORRENTINA">CORRENTINA</option>
				<option value="COTEGIPE">COTEGIPE</option>
				<option value="CRISTÓPOLIS">CRISTÓPOLIS</option>
				<option value="CRUZ DAS ALMAS">CRUZ DAS ALMAS</option>
				<option value="CURAÇA">CURAÇA</option>
				<option value="DIAS D ÁVILA">DIAS D ÁVILA</option>
				<option value="ENCRUZILHADA">ENCRUZILHADA</option>
				<option value="ENTRE RIOS">ENTRE RIOS</option>
				<option value="ESPLANADA">ESPLANADA</option>
				<option value="EUCLIDES DA CUNHA">EUCLIDES DA CUNHA</option>
				<option value="EUNÁPOLIS">EUNÁPOLIS</option>
				<option value="FEIRA DE SANTANA">FEIRA DE SANTANA</option>
				<option value="FORMOSA DO RIO PRETO">FORMOSA DO RIO PRETO</option>
				<option value="GANDÚ">GANDÚ</option>
				<option value="GAVIÃO">GAVIÃO</option>
				<option value="GENTIO DO OURO">GENTIO DO OURO</option>
				<option value="GLÓRIA">GLÓRIA</option>
				<option value="GOVERNADOR MANGABEIRA">GOVERNADOR MANGABEIRA</option>
				<option value="GUANAMBI">GUANAMBI</option>
				<option value="GUARATINGA">GUARATINGA</option>
				<option value="IAÇÚ">IAÇÚ</option>
				<option value="IBICARAÍ">IBICARAÍ</option>
				<option value="IBICUÍ">IBICUÍ</option>
				<option value="IBIQUERA">IBIQUERA</option>
				<option value="IBIRAPITANGA">IBIRAPITANGA</option>
				<option value="IBIRAPUÃ">IBIRAPUÃ</option>
				<option value="IBIRATAIA">IBIRATAIA</option>
				<option value="IBITIARA">IBITIARA</option>
				<option value="IBITITÁ">IBITITÁ</option>
				<option value="IBOTIRAMA">IBOTIRAMA</option>
				<option value="ICHÚ">ICHÚ</option>
				<option value="IGAPORÃ">IGAPORÃ</option>
				<option value="IGUAÍ">IGUAÍ</option>
				<option value="ILHÉUS">ILHÉUS</option>
				<option value="INHAMBUPE">INHAMBUPE</option>
				<option value="IPIAÚ">IPIAÚ</option>
				<option value="IPIRÁ">IPIRÁ</option>
				<option value="IRAMAIA">IRAMAIA</option>
				<option value="IRAQUARA">IRAQUARA</option>
				<option value="IRARÁ">IRARÁ</option>
				<option value="IRECÊ">IRECÊ</option>
				<option value="ITABELA">ITABELA</option>
				<option value="ITABERABA">ITABERABA</option>
				<option value="ITABUNA">ITABUNA</option>
				<option value="ITACARÉ">ITACARÉ</option>
				<option value="ITAETÊ">ITAETÊ</option>
				<option value="ITAGI">ITAGI</option>
				<option value="ITAGIBÁ">ITAGIBÁ</option>
				<option value="ITAGIMIRIM">ITAGIMIRIM</option>
				<option value="ITAJUÍPE">ITAJUÍPE</option>
				<option value="ITAMARAJÚ">ITAMARAJÚ</option>
				<option value="ITAMARI">ITAMARI</option>
				<option value="ITAMBÉ">ITAMBÉ</option>
				<option value="ITANHÉM">ITANHÉM</option>
				<option value="ITAPARICA">ITAPARICA</option>
				<option value="ITAPEBI">ITAPEBI</option>
				<option value="ITAPETINGA">ITAPETINGA</option>
				<option value="ITAPICURU">ITAPICURU</option>
				<option value="ITAPITANGA">ITAPITANGA</option>
				<option value="ITAQUARA">ITAQUARA</option>
				<option value="ITARANTIM">ITARANTIM</option>
				<option value="ITIRUÇÚ">ITIRUÇÚ</option>
				<option value="ITIÚBA">ITIÚBA</option>
				<option value="ITORORÓ">ITORORÓ</option>
				<option value="ITUAÇÚ">ITUAÇÚ</option>
				<option value="ITUBERÁ">ITUBERÁ</option>
				<option value="JACARACI">JACARACI</option>
				<option value="JACOBINA">JACOBINA</option>
				<option value="JAGUAQUARA">JAGUAQUARA</option>
				<option value="JAGUARARI">JAGUARARI</option>
				<option value="JAGUARIPE">JAGUARIPE</option>
				<option value="JEQUIÉ">JEQUIÉ</option>
				<option value="JEREMOABO">JEREMOABO</option>
				<option value="JIQUIRIÇA">JIQUIRIÇA</option>
				<option value="JITAÚNA">JITAÚNA</option>
				<option value="JOÃO DOURADO">JOÃO DOURADO</option>
				<option value="JUAZEIRO">JUAZEIRO</option>
				<option value="JUSSARA">JUSSARA</option>
				<option value="LAJE">LAJE</option>
				<option value="LAPÃO">LAPÃO</option>
				<option value="LAURO DE FREITAS">LAURO DE FREITAS</option>
				<option value="LENÇÓIS">LENÇÓIS</option>
				<option value="LICÍNIO DE ALMEIDA">LICÍNIO DE ALMEIDA</option>
				<option value="LIVRAMENTO DE NOSSA SENHORA">LIVRAMENTO DE NOSSA SENHORA</option>
				<option value="LUIS EDUARDO MAGALHÃES">LUIS EDUARDO MAGALHÃES</option>
				<option value="MACARANI">MACARANI</option>
				<option value="MACAÚBAS">MACAÚBAS</option>
				<option value="MACURURÉ">MACURURÉ</option>
				<option value="MAIRI">MAIRI</option>
				<option value="MALHADA">MALHADA</option>
				<option value="MARACÁS">MARACÁS</option>
				<option value="MARAGOGIPE">MARAGOGIPE</option>
				<option value="MARAÚ">MARAÚ</option>
				<option value="MARCIONÍLIO SOUZA">MARCIONÍLIO SOUZA</option>
				<option value="MATA DE SÃO JOÃO">MATA DE SÃO JOÃO</option>
				<option value="MEDEIROS NETO">MEDEIROS NETO</option>
				<option value="MIGUEL CALMON">MIGUEL CALMON</option>
				<option value="MILAGRES">MILAGRES</option>
				<option value="MONTE SANTO">MONTE SANTO</option>
				<option value="MORPARÁ">MORPARÁ</option>
				<option value="MORRO DO CHAPÉU">MORRO DO CHAPÉU</option>
				<option value="MUCUGÊ">MUCUGÊ</option>
				<option value="MUCURI">MUCURI</option>
				<option value="MUNDO NOVO">MUNDO NOVO</option>
				<option value="MURITIBA">MURITIBA</option>
				<option value="MUTUÍPE">MUTUÍPE</option>
				<option value="NAZARÉ">NAZARÉ</option>
				<option value="NILO PEÇANHA">NILO PEÇANHA</option>
				<option value="NORDESTINA">NORDESTINA</option>
				<option value="NOVA CANAÃ">NOVA CANAÃ</option>
				<option value="NOVA FÁTIMA">NOVA FÁTIMA</option>
				<option value="NOVA SOURE">NOVA SOURE</option>
				<option value="NOVA VIÇOSA">NOVA VIÇOSA</option>
				<option value="OLINDINA">OLINDINA</option>
				<option value="OLIVEIRA DOS BREJINHOS">OLIVEIRA DOS BREJINHOS</option>
				<option value="PALMAS DE MONTE ALTO">PALMAS DE MONTE ALTO</option>
				<option value="PALMEIRAS">PALMEIRAS</option>
				<option value="PARAMIRIM">PARAMIRIM</option>
				<option value="PARATINGA">PARATINGA</option>
				<option value="PARIPIRANGA">PARIPIRANGA</option>
				<option value="PAU BRASIL">PAU BRASIL</option>
				<option value="PAULO AFONSO">PAULO AFONSO</option>
				<option value="PÉ DE SERRA">PÉ DE SERRA</option>
				<option value="PIATÃ">PIATÃ</option>
				<option value="PILÃO ARCADO">PILÃO ARCADO</option>
				<option value="PINDAÍ">PINDAÍ</option>
				<option value="PINDOBAÇÚ">PINDOBAÇÚ</option>
				<option value="PIRITIBA">PIRITIBA</option>
				<option value="PLANALTO">PLANALTO</option>
				<option value="POÇÕES">POÇÕES</option>
				<option value="POJUCA">POJUCA</option>
				<option value="PORTO SEGURO">PORTO SEGURO</option>
				<option value="POTIRAGUÁ">POTIRAGUÁ</option>
				<option value="PRADO">PRADO</option>
				<option value="PRESIDENTE DUTRA">PRESIDENTE DUTRA</option>
				<option value="PRESIDENTE JÂNIO QUADROS">PRESIDENTE JÂNIO QUADROS</option>
				<option value="QUEIMADAS">QUEIMADAS</option>
				<option value="QUIXABEIRA">QUIXABEIRA</option>
				<option value="REMANSO">REMANSO</option>
				<option value="RETIROLÂNDIA">RETIROLÂNDIA</option>
				<option value="RIACHÃO DAS NEVES">RIACHÃO DAS NEVES</option>
				<option value="RIACHÃO DO JACUÍPE">RIACHÃO DO JACUÍPE</option>
				<option value="RIACHO DE SANTANA">RIACHO DE SANTANA</option>
				<option value="RIBEIRA DO POMBAL">RIBEIRA DO POMBAL</option>
				<option value="RIO DE CONTAS">RIO DE CONTAS</option>
				<option value="RIO DO ANTÔNIO">RIO DO ANTÔNIO</option>
				<option value="RIO REAL">RIO REAL</option>
				<option value="RODELAS">RODELAS</option>
				<option value="RUY BARBOSA">RUY BARBOSA</option>
				<option value="SALVADOR">SALVADOR</option>
				<option value="SANTA BÁRBARA">SANTA BÁRBARA</option>
				<option value="SANTA CRUZ CABRÁLIA">SANTA CRUZ CABRÁLIA</option>
				<option value="SANTA INÊS">SANTA INÊS</option>
				<option value="SANTA LUZIA">SANTA LUZIA</option>
				<option value="SANTA MARIA DA VITÓRIA">SANTA MARIA DA VITÓRIA</option>
				<option value="SANTA RITA  DE CÁSSIA">SANTA RITA  DE CÁSSIA</option>
				<option value="SANTA TEREZINHA">SANTA TEREZINHA</option>
				<option value="SANTALUZ">SANTALUZ</option>
				<option value="SANTANA">SANTANA</option>
				<option value="SANTO AMARO">SANTO AMARO</option>
				<option value="SANTO ANTÔNIO DE JESUS">SANTO ANTÔNIO DE JESUS</option>
				<option value="SANTO ESTEVÃO">SANTO ESTEVÃO</option>
				<option value="SÃO DESIDERIO">SÃO DESIDERIO</option>
				<option value="SÃO DOMINGOS">SÃO DOMINGOS</option>
				<option value="SÃO FELIPE">SÃO FELIPE</option>
				<option value="SÃO FELIX">SÃO FELIX</option>
				<option value="SÃO FRANCISCO DO CONDE">SÃO FRANCISCO DO CONDE</option>
				<option value="SÃO GABRIEL">SÃO GABRIEL</option>
				<option value="SÃO GONÇALO DOS CAMPOS">SÃO GONÇALO DOS CAMPOS</option>
				<option value="SÃO JOSÉ DO JACUÍPE">SÃO JOSÉ DO JACUÍPE</option>
				<option value="SÃO SEBASTIÃO DO PASSÉ">SÃO SEBASTIÃO DO PASSÉ</option>
				<option value="SAPEAÇÚ">SAPEAÇÚ</option>
				<option value="SÁTIRO DIAS">SÁTIRO DIAS</option>
				<option value="SAÚDE">SAÚDE</option>
				<option value="SEABRA">SEABRA</option>
				<option value="SENHOR DO BONFIM">SENHOR DO BONFIM</option>
				<option value="SENTO SÉ">SENTO SÉ</option>
				<option value="SERRA DOURADA">SERRA DOURADA</option>
				<option value="SERRA PRETA">SERRA PRETA</option>
				<option value="SERRINHA">SERRINHA</option>
				<option value="SERROLÂNDIA">SERROLÂNDIA</option>
				<option value="SIMÕES FILHO">SIMÕES FILHO</option>
				<option value="SOBRADINHO">SOBRADINHO</option>
				<option value="SOUTO SOARES">SOUTO SOARES</option>
				<option value="TANHAÇÚ">TANHAÇÚ</option>
				<option value="TANQUE NOVO">TANQUE NOVO</option>
				<option value="TAPEROÁ">TAPEROÁ</option>
				<option value="TEIXEIRA DE FREITAS">TEIXEIRA DE FREITAS</option>
				<option value="TEODORO SAMPAIO">TEODORO SAMPAIO</option>
				<option value="TEOFILÂNDIA">TEOFILÂNDIA</option>
				<option value="TERRA NOVA">TERRA NOVA</option>
				<option value="TREMEDAL">TREMEDAL</option>
				<option value="TUCANO">TUCANO</option>
				<option value="UAUÁ">UAUÁ</option>
				<option value="UBAÍRA">UBAÍRA</option>
				<option value="UBAITABA">UBAITABA</option>
				<option value="UBATÃ">UBATÃ</option>
				<option value="UIBAÍ">UIBAÍ</option>
				<option value="UNA">UNA</option>
				<option value="URANDI">URANDI</option>
				<option value="URUÇUCA">URUÇUCA</option>
				<option value="UTINGA">UTINGA</option>
				<option value="VALENÇA">VALENÇA</option>
				<option value="VALENTE">VALENTE</option>
				<option value="VARZEA DA ROCA">VARZEA DA ROCA</option>
				<option value="VÁRZEA DO POÇO">VÁRZEA DO POÇO</option>
				<option value="VITÓRIA DA CONQUISTA">VITÓRIA DA CONQUISTA</option>
				<option value="WANDERLEY">WANDERLEY</option>
				<option value="WENCESLAU GUIMARÃES">WENCESLAU GUIMARÃES</option>
				<option value="XIQUE-XIQUE">XIQUE-XIQUE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nome">Unidade: </label>
            <input type="text" class="form-control" name="field_unidade" id="field_unidade"
                    ng-model="vm.unidadeJudiciaria.unidade"
                     />
        </div>
        <hr>
        <div class="table-responsive">
	        <table class="jh-table table table-striped">
	            <thead>
	                <tr>
	                    <th><span>COJ</span></th>
	                    <th><span>Comarca</span></th>
	                    <th><span>Unidade</span></th>
	                </tr>
	            </thead>
	            <tbody>
	            	<tr ng-repeat="unidadeJud in vm.unidadesJudiciarias" ng-click="vm.selecionar(unidadeJud)">
                   		<td>{{unidadeJud.coj}}</td>
                   		<td>{{unidadeJud.comarca}}</td>
                   		<td>{{unidadeJud.unidade}}</td>
	                </tr>
	           </tbody>
	    	</table>
         </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
    </div>
</form>
