
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTipoItemLabel">Create or edit a Tipo Item</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.tipoItem.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.tipoItem.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                    ng-model="vm.tipoItem.nome"
                    required />
            <div ng-show="editForm.nome.$invalid">
                <p class="help-block"
                    ng-show="editForm.nome.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sigla">Sigla</label>
            <input type="text" class="form-control" name="sigla" id="field_sigla"
                    ng-model="vm.tipoItem.sigla"
                    required ng-minlength="3" ng-maxlength="3" />
            <div ng-show="editForm.sigla.$invalid">
                <p class="help-block"
                    ng-show="editForm.sigla.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.sigla.$error.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.sigla.$error.maxlength">
                    This field cannot be longer than 3 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_descricao">Descricao</label>
            <input type="text" class="form-control" name="descricao" id="field_descricao"
                    ng-model="vm.tipoItem.descricao"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
