
<div>
    <h2><span>Item</span> {{vm.item.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span>Serial</span></dt>
        <dd>
            <span>{{vm.item.serial}}</span>
        </dd>
        <hr>
        <dt><span>Tombo</span></dt>
        <dd>
            <span>{{vm.item.tombo}}</span>
        </dd>
        <hr>
        <dt><span>Modelo</span></dt>
        <dd>
            <span>{{vm.item.modelo}}</span>
        </dd>
        <hr>
        <dt><span>Estado</span></dt>
        <dd>
            <span translate="{{'controlePatrimonialApp.EstadoItem.' + vm.item.estado}}">{{vm.item.estado}}</span>
        </dd>
        <div ng-if="vm.item.numero.length > 0">
        <hr>
        <dt><span>Numero</span></dt>
        <dd>
            <span>{{vm.item.numero | tel}}</span>
        </dd>
        </div>
        <hr>
        <dt><span>Tipo Item</span></dt>
        <dd>
            <a ui-sref="tipo-item-detail({id:vm.item.tipoItem.id})">{{vm.item.tipoItem.nome}}</a>
        </dd>
		<hr>
        
        <dt><span>Histórico:</span></dt>
        <dd>
        	<div class="table-responsive">
		        <table class="jh-table table table-striped">
		            <thead>
		                <tr>
		                	<th><span>Movimentação</span></th>
		                	<th><span>Tipo</span></th>
		                    <th><span>Responsável</span></th>
		                </tr>
		            </thead>
		            <tbody>
		            	<tr ng-repeat="itemEntr in vm.movimentacaoHistorico">
		            		<td><a ui-sref="movimentacao-detail({id:itemEntr.movimentacao.id})">{{itemEntr.movimentacao.data | date:'dd/MM/y'}}</a></td>
		            		<td>{{itemEntr.movimentacao.tipoMovimentacao.nome}}</td>
                    		<td><a ui-sref="pessoa-detail({id: {{itemEntr.pessoa.id}}})">{{itemEntr.pessoa.nome}}</a></td>
		                </tr>
		           </tbody>
		    	</table>
            </div>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
