<div>
    <h2>Itens Disponíveis</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid hidden-print">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary btn-sm" ng-click="vm.refinarBuscaca(vm.item)">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
                <button class="btn btn-primary btn-sm"  ng-click="vm.exportData()">
                	<span class="glyphicon glyphicon-save-file"></span>
                </button>
                <button class="btn btn-primary btn-sm"
                		onclick="window.print();"
			            title="Imprimir">
			        <span class="glyphicon glyphicon-print"></span>
			        <span class="hidden-xs hidden-sm"></span>
			    </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive" id="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tombo"><span>Tombo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="serial"><span>Serial</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="modelo"><span>Modelo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="estado"><span>Estado</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numero"><span>Numero</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tipoItem.id" class="text-center"><span>Tipo Item</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th class="hidden-print"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.items track by item.id">
                    <td><a ui-sref="item-detail({id:item.id})">{{item.id}}</a></td>
                    <td>{{item.tombo}}</td>
                    <td>{{item.serial}}</td>
                    <td>{{item.modelo}}</td>
                    <td translate="{{'controlePatrimonialApp.EstadoItem.' + item.estado}}">{{item.estado}}</td>
                    <td>{{item.numero | tel}}</td>
                    <td class="text-center">
                    	<a ui-sref="tipo-item-detail({id:imp.item.tipoItem.id})" title="{{item.tipoItem.nome}}">
	                    	<div ng-switch="item.tipoItem.id">
	                    	
				                <div ng-switch-when="1"> <!-- "Chip 4G Celular" -->
			                		  <i class="fa fa-signal text-warning fa-1x"></i>
			                		  <i class="fa fa-mobile text-warning fa-1x"></i>
				                </div>
				                <div  ng-switch-when="2"> <!-- "Celular Executivo Vivo" -->
				                	 <i class="fa fa-mobile text-warning fa-2x"></i>
				                </div>
				                <div  ng-switch-when="3"> <!-- "Chip 4G Modem" -->
									  <i class="fa fa-wifi text-danger fa-1x"></i>
									  <i class="fa fa-tty text-danger fa-1x"></i>
				                </div>
				                <div  ng-switch-when="4"> <!-- "Modem Vivo" -->
				                	<i class="fa fa-tty text-danger fa-2x"></i>
				                </div>
				                
				                <div  ng-switch-when="5"> <!-- "Celular Vip Vivo" -->
				                	<i class="fa fa-mobile text-success fa-2x"></i>
				                </div>
				                
				                <div  ng-switch-when="6"> <!-- "Chip 4G Tablet" -->
				                	<i class="fa fa-wifi text-sucesso fa-1x"></i>
				                	<i class="fa fa-tablet text-primary fa-1x"></i>
				                </div>
				                
				                <div  ng-switch-when="7"> <!-- "Tablet Vivo" -->
				                	<span class="" title="{{item.tipoItem.nome}}"></span>
				                	<i class="fa fa-tablet text-info fa-2x"></i>
				                </div>
				                
				                <div  ng-switch-when="8"> <!-- "Notebook" -->
				                	<i class="fa fa-laptop text-info fa-2x"></i>
				                </div>
				            </div>
				            
				    	</a>
                    </td>
                    <td class="text-right hidden-print">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="item-detail({id:item.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="item.edit({id:item.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="item.delete({id:item.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center" ng-hide="!vm.isPagination">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm hidden-print" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()" max-size="10" ></uib-pagination>
    </div>
</div>
