<div>
    <h2>Itens Entregue</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left hidden-print" >
                <button class="btn btn-primary btn-sm" ng-click="vm.refinarBuscaca(vm.item)">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
                <button class="btn btn-primary btn-sm"  ng-click="vm.exportData()">
                	<span class="glyphicon glyphicon-save-file"></span>
                </button>
                <button class="btn btn-primary btn-sm"
                		onclick="window.print();"
			            title="Imprimir">
			        <span class="glyphicon glyphicon-print"></span>
			        <span class="hidden-xs hidden-sm"></span>
			    </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive" id="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                	<th jh-sort-by="p.nome" class="text-center"><span>Responsável</span> <span class="glyphicon glyphicon-sort hidden-print"></span></th>
                	<th jh-sort-by="i.numero" class="text-center"><span>Numero</span> <span class="glyphicon glyphicon-sort hidden-print"></span></th>
                    <th jh-sort-by="i.serial" class="text-center"><span>Serial</span> <span class="glyphicon glyphicon-sort hidden-print"></span></th>
                    <th jh-sort-by="i.tipoItem.id" class="text-center"><span>Tipo Item</span> <span class="glyphicon glyphicon-sort hidden-print"></span></th>
                    <th jh-sort-by="m2.id" class="hidden-print text-center"><span>Movimentação</span> <span class="glyphicon glyphicon-sort "></span></th>
                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="imp in vm.items track by imp.id">
                	<td><a ui-sref="pessoa-detail({id:imp.pessoa.id})">{{imp.pessoa.nome}}</a></td>
                	<td>{{imp.item.numero | tel}}</td>
                    <td><a ui-sref="item-detail({id:imp.item.id})">{{imp.item.serial}}</a></td>
                    <td><a ui-sref="tipo-item-detail({id:imp.item.tipoItem.id})">{{imp.item.tipoItem.sigla}}</a></td>
                    <td class="text-center hidden-print">
                    	<button type="submit" 
	                            ui-sref="movimentacao-detail({id:imp.movimentacao.id})"
	                            class="btn btn-info btn-sm">
	                        <span class="glyphicon glyphicon-eye-open"></span>
	                        <span class="hidden-xs hidden-sm"></span>
	                    </button>
                   	</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center" ng-hide="!vm.isPagination">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()" max-size="10"></uib-pagination>
    </div>
</div>
