<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1>Bem Vindo, CIC</h1>
            <p class="lead">Controle Interno COATE</p>

			<select class="form-control" id="field_tipoMovimentacao" name="tipoMovimentacao" ng-model="vm.selecionamunicipio" ng-change="vm.setZoomMunicipio(vm.selecionamunicipio)" ng-options="selectmunicipio as selectmunicipio.nome for selectmunicipio in vm.selectmunicipio track by selectmunicipio.nome">
                <option value=""></option>
            </select>    
			<openlayers width="100%" height="480px" ol-center="vm.center">
				<ol-layer ol-layer-properties="vm.municipioba"></ol-layer>
				<ol-layer ol-layer-properties="vm.municipioba2"></ol-layer>
				
			</openlayers>
            
            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true">
                    Você está logado como usuário "{{vm.account.login}}".
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    Se você deseja <a class="alert-link" href="" ng-click="vm.login()">entrar</a>
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    Você não tem uma conta? <a class="alert-link" ui-sref="register">Registar uma nova conta</a>
                </div>
            </div>
        </div>
    </div>
</div>
