.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/placa2.png") no-repeat center top;
    background-size: contain;
}

.ol-viewport
{
	background-color:#fafaeb;
}
